{% extends "layout/base.html" %}

{% block title %}
| 归档
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content" itemscope itemtype="http://schema.org/Article">
            <header class="post_header">
                <h1 class="post_title">归档</h1>
            </header>
            <div class="post-Archive">
                <div id="archives">
                    {% regroup archive_posts by year as posts_by_year %}
                    <div class='archive-title'>
                        {% for mouth in posts_by_year %}
                        <h3>{{ mouth.grouper }}</h3>
                            {% for d in mouth.list %}
                        <div class='archives'>
                            <div class="brick">
                                <a href=""><span class="time">{{ d |date:'m-d' }}</span> {{ d }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}