{% extends "layout/base.html" %}

{% block title %}
| 首页
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <article itemscope="itemscope">
            <div class="posts-list js-posts">
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="status_list_item icon_kyubo">
                        <div class="status_user"
                             style="background-image: url(/statics/images/tmp/b0ce3f3cde0c084b6d42321b2dcbc407.jpeg);">
                            <div class="status_section">
                                <a href="detail.html" class="status_btn">交代是不可能交代的</a>
                                <p class="section_p">
                                    相隔上一次的更新我掰手指数一数，下意识的双腿一软，给各位小哥哥小姐姐们跪下了。自从有了对象后，周末几乎落下了主题的进度（邪魅的笑）。一边开发新的主题，一边收集您们给我反馈回来的"臭虫"，还有新的主题后台看见了一些大神在... </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="postnormal review ">
                        <div class="post-container review-item">
                            <div class="row review-item-wrapper">
                                <div class="col-sm-3">
                                    <a rel="nofollow" href="detail.html">
                                        <div class="review-item-img"
                                             style="background-image: url(/statics/images/tmp/diego-ph-249471-2-800x1000.jpg);"></div>
                                    </a>
                                </div>
                                <div class="col-sm-9 flex-xs-middle">
                                    <div class="review-item-title">
                                        <a href="detail.html" rel="bookmark">我才不会写年终总结之瞎说篇</a>
                                    </div>
                                    <div class="review-item-creator"><b>发布日期：</b>2017-12-30</div>
                                    <span class="review-item-info"><b>总浏览量：</b>1203 reads</span>
                                </div>
                            </div>
                            <div class="review-bg-wrapper">
                                <div class="bg-blur"
                                     style="background-image: url(/statics/images/tmp/diego-ph-249471-2-800x1000.jpg);"></div>
                            </div>
                        </div>
                        <div class="post-container">
                            <div class="entry-content">
                                确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。
                                年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命令...
                            </div>
                            <div class="post-footer">
                                <a class="gaz-btn primary" href="">READ MORE</a>
                                <span class="total-comments-on-post pull-right"><a href="">31 Comments</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="status_list_item icon_kyubo">
                        <div class="status_user"
                             style="background-image: url(/statics/images/tmp/b0ce3f3cde0c084b6d42321b2dcbc407.jpeg);">
                            <div class="status_section">
                                <a href="detail.html" class="status_btn">状态</a>
                                <p class="section_p">因为我这后半年飘忽不定的更新节奏，感觉真的对不住用户。最近才松下来能处理反馈的bug，顺便加快新主题 Dcras
                                    的制作，农历年后或许能上线，准确时间，不敢说-- 为了感谢大家对 Yarn 的支持，Dcras 会以 获兑现码半价的承诺 给 Yarn ... </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post-layout-list js-gallery" data-aos="fade-up">
                    <div class="post-album">
                        <div class="row content">
                            <div class="bg" style="background-image: url(/statics/images/tmp/IMG_0150.jpg);"></div>
                            <div class="contentext flex-xs-middle">
                                <div class="album-title">
                                    <a href="detail.html">重构图像样式测试</a>
                                </div>
                                <h5 class="review-item-creator"><b>发布日期：</b>2017-11-13</h5>
                                <div class="album-content">如眼所见是一个图像样式，必须写五十左右的文字作为这个文本框的空白填充，不写也是可以的，强迫症不能容忍空白。</div>
                            </div>
                            <div class="album-thumb-width flex-xs-middle">
                                <div class="row album-thumb no-gutter">
                                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0150-250x250.jpg"/>
                                    </div>
                                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0149-250x250.jpg"/>
                                    </div>
                                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0146-250x250.jpg"/>
                                    </div>
                                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0147-250x250.jpg"/>
                                    </div>
                                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0148-250x250.jpg"/>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="">5 pics</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="postnormal review ">
                        <div class="post-container review-item">
                            <div class="row review-item-wrapper">
                                <div class="col-sm-3">
                                    <a rel="nofollow" href="detail.html">
                                        <div class="review-item-img"
                                             style="background-image: url(/statics/images/tmp/47fb3c_9afed6c259f94589881bd55376206366mv2_d_3840_5784_s_4_2-800x450.jpg);"></div>
                                    </a>
                                </div>
                                <div class="col-sm-9 flex-xs-middle">
                                    <div class="review-item-title">
                                        <a href="detail.html" rel="bookmark">给大家介绍一下</a>
                                    </div>
                                    <div class="review-item-creator"><b>发布日期：</b>2017-10-02</div>
                                    <span class="review-item-info"><b>总浏览量：</b>1600 reads</span>
                                </div>
                            </div>
                            <div class="review-bg-wrapper">
                                <div class="bg-blur"
                                     style="background-image: url(/statics/images/tmp/47fb3c_9afed6c259f94589881bd55376206366mv2_d_3840_5784_s_4_2-800x450.jpg);"></div>
                            </div>
                        </div>
                        <div class="post-container">
                            <div class="entry-content">现在的明星的影响力足以影响国内娱乐圈的"半壁江山"，发条微博，新浪都恐慌好几天，来来来，蹭个热点给大家介绍一下我的女朋友。
                            </div>
                            <div class="post-footer">
                                <a class="gaz-btn primary" href="detail.html">READ MORE</a>
                                <span class="total-comments-on-post pull-right"><a href="">30 Comments</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- post-formats end Infinite Scroll star -->
            <!-- post-formats -->
            {% block pagination %}
                {% include './layout/pagination.html' %}
            {% endblock %}
            <!-- -pagination  -->
        </article>
    </div>
</div>
{% endblock %}