{% extends "layout/base.html" %}

{% block title %}
| 相册
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content">
            <header class="post_header">
                <h1 class="post_title">相册</h1>
            </header>
            <div class="photoItems">
                <ul id="da-thumbs" class="da-thumbs">
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/tmp/g-1.jpg" alt=""/>
                            <div>
                                <h5>Coffee</h5>
                                <span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/tmp/g-2.jpg" alt=""/>
                            <div>
                                <h5>Coffee</h5>
                                <span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/tmp/g-3.jpg" alt=""/>
                            <div>
                                <h5>Coffee</h5>
                                <span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/tmp/g-4.jpg" alt=""/>
                            <div>
                                <h5>Coffee</h5>
                                <span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/tmp/g-5.jpg" alt=""/>
                            <div>
                                <h5>Coffee</h5>
                                <span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/tmp/g-6.jpg" alt=""/>
                            <div>
                                <h5>Coffee</h5>
                                <span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/tmp/g-7.jpg" alt=""/>
                            <div>
                                <h5>Coffee</h5>
                                <span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/tmp/g-8.jpg" alt=""/>
                            <div>
                                <h5>Coffee</h5>
                                <span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/tmp/g-9.jpg" alt=""/>
                            <div>
                                <h5>Coffee</h5>
                                <span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
                            </div>
                        </a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </section>
    </div>
</div>
{% endblock %}