*.pyc
.idea/
.DS_Store
.python-version
migrations/
*.log
*.out
.vscode/
dnsapi_key.py
omsBackend/zbmanager/zabbix_conf.py
staticfiles/
/upload/photo/
/upload/post/
/djangoBlog/django_config.py