{% extends "../layout/base.html" %}

{% block title %}
| 登录
{% endblock %}

{% block content %}

<div id="main" class="content">
    <div class="container">
        <section class="post_content">
            <header class="post_header">
                <h1 class="post_title" style="text-align: center">登录</h1>
            </header>
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
            {% endif %}
            <div class="login">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>{{ form.username.label_tag }}</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.password.label_tag }}</label>
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-default pull-left">登 录</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}