
.row {
    padding: 10px 0
}

.row-gallery [class*=" col-sm-"],
.row-gallery [class^=col-sm-] {
    margin-bottom: 0
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}

.col-xs-1 {
    width: 8.333333333333332%
}

.col-xs-2 {
    width: 16.666666666666664%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.33333333333333%
}

.col-xs-5 {
    width: 41.66666666666667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.333333333333336%
}

.col-xs-8 {
    width: 66.66666666666666%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.33333333333334%
}

.col-xs-11 {
    width: 91.66666666666666%
}

.col-xs-12 {
    width: 100%
}

@media (min-width: 760px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }

    .col-sm-1 {
        width: 8.333333333333332%
    }

    .col-sm-2 {
        width: 16.666666666666664%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: 33.33333333333333%
    }

    .col-sm-5 {
        width: 41.66666666666667%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: 58.333333333333336%
    }

    .col-sm-8 {
        width: 33.333333333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-10 {
        width: 83.33333333333334%
    }

    .col-sm-11 {
        width: 91.66666666666666%
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-push-1 {
        left: 8.333333333333332%
    }

    .col-sm-push-2 {
        left: 16.666666666666664%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-4 {
        left: 33.33333333333333%
    }

    .col-sm-push-5 {
        left: 41.66666666666667%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-7 {
        left: 58.333333333333336%
    }

    .col-sm-push-8 {
        left: 66.66666666666666%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-10 {
        left: 83.33333333333334%
    }

    .col-sm-push-11 {
        left: 91.66666666666666%
    }

    .col-sm-pull-1 {
        right: 8.333333333333332%
    }

    .col-sm-pull-2 {
        right: 16.666666666666664%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-4 {
        right: 33.33333333333333%
    }

    .col-sm-pull-5 {
        right: 41.66666666666667%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-7 {
        right: 58.333333333333336%
    }

    .col-sm-pull-8 {
        right: 66.66666666666666%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-10 {
        right: 83.33333333333334%
    }

    .col-sm-pull-11 {
        right: 91.66666666666666%
    }

    .col-sm-offset-1 {
        margin-left: 8.333333333333332%
    }

    .col-sm-offset-2 {
        margin-left: 16.666666666666664%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333333333%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666666666667%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-7 {
        margin-left: 58.333333333333336%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666666666666%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333333334%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666666666666%
    }
}

@font-face {
    font-family: hermiticon;
    src: url(../fonts/hermiticon.eot?cez6o0);
    src: url(../fonts/hermiticon.eot?#iefixcez6o0) format('embedded-opentype'), url(../fonts/hermiticon.ttf?cez6o0) format('truetype'), url(../fonts/hermiticon.woff?cez6o0) format('woff'), url(../fonts/hermiticon.svg?cez6o0#hermiticon) format('svg');
    font-weight: 400;
    font-style: normal
}

::-webkit-scrollbar {
    width: 0;
    background: 0 0
}

::-moz-selection {
    background: rgba(204, 204, 204, .18);
    color: #000
}

::selection {
    background: rgba(204, 204, 204, .18);
    color: #000
}

html body {
    _background-attachment: fixed;
}

html {
    width: 100%;
    height: 100%;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    background-color: rgba(56, 136, 146, 0.29);
    width: 100%;
    height: 100%;
    font-family: PingFang SC, "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft Yahei", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(2, 0, 0, .6);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga" on;
    -moz-font-feature-settings: "liga" on;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
div,
span,
ul,
ol,
li,
form,
input,
textarea,
br,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0
}

h1 {
    font-size: 20px;
    line-height: 48px;
    margin-bottom: 24px
}

h1 span {
    color: #1abc9c;
    font-size: 18px;
}

h1 small {
    font-size: 19px
}

h2 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px
}

h2 small {
    font-size: 17px
}

h3 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
}

h3 small {
    font-size: 15px
}

h4,
h5,
h6 {
    line-height: 24px
}

h4 {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 16px;
}

h4 small {
    font-size: 13px
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 12px;;
    margin: 0
}

a {
    color: #7dc768;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:active,
a:hover {
    outline: 0;
    color: #33c5c5 !important;
}

hr {
    max-width: 100%;
    height: 50px;
    background: url(/statics/images/hr.gif) right center no-repeat;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

blockquote {
    overflow: hidden
}

ul,
ol {
    list-style: none
}

dt {
    font-weight: bold
}

dd {
    margin: 0 1.5em 1.5em
}

figure {
    margin: 0
}

table {
    margin: 0 0 1.5em;
    width: 100%
}

table {
    border-bottom: 1px solid #eee;
    margin: 0 0 25px;
    width: 100%
}

th {
    padding: 1rem .5rem;
    color: #252525;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left
}

td {
    border-top: 1px solid #eee;
    padding: 1rem .5rem
}

ol,
ul {
    list-style: none
}

img {
    height: auto;
    max-width: 100%;
    transition: opacity .2s;
}

label {
    font-weight: normal
}
