.comments-list-title {
	max-width: 800px;
	margin: 20px 0;
	font-size: 20px;
	font-weight: 700;
	color: #918f90
}

.comments-list-title span {
	color: #1abc9c;
}
.comments-main {
	max-width: 800px;
	margin: 0 auto;
}

form#commentform {
	outline: 0
}

nav#comments-navi {
	clear: both;
	text-align: right;
	max-width: 800px;
	color: #9A9A9A;
	padding-top: 20px;
}

.comments {
	clear: both;
	overflow: hidden;
	width: 100%;
	list-style: none;
	background: #fafafa;
	padding: 40px 0;
}

.comments .commentwrap {
	max-width: 800px;
	margin: 0 auto;
	padding: 0
}

.comments .commentwrap hr {
	height: 0;
	width: 100%;
	background: #eee;
	border: 0;
	margin: 40px 0
}

.comments .comments-hidden {
	display: none;
	cursor: pointer
}

.comments .comments-main {
	overflow: hidden;
	-webkit-transition: height 0s ease-out;
	-moz-transition: height 0s ease-out;
	transition: height 0s ease-out
}

.comnav {
	width: 100%;
	margin: 0 auto
}

.comnav a {
	padding: 10px;
	color: #7B7B7B;
	margin-bottom: 20px
}

.comment {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comment .contents {
	width: 100%;
	float: left
}

.comment_body {
	padding-bottom: 20px;
}
.comment p {
	font-size: 15px;
	line-height: 24px
}

.comment .profile {
	float: left;
	position: relative;
	top: 20px;
	z-index: 3;
}

.comment .profile img {
	background-color: #eee;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 2px;
}

.comment .main {
	float: right;
	width: 92%;
	border-bottom: 1px solid #eee;
	padding: 20px 0;
	position: relative;
	z-index: 2
}

.comment .commeta {
	font-size: 15px;
	overflow: hidden;
}

.comment .comment-reply-link {
	font-size: 13px;
	display: inline-block;
	text-transform: uppercase;
	color: #A1A1A1
}

.comment .comment-reply-link:hover {
	color: #606576
}

.comment .info {
	letter-spacing: 0.6px;
	font-size: 13px;
	color: #A1A1A1
}

.comment .info span {
	margin-right: 10px
}

.comment .shang {
	float: left;
}

.comment .xia {
	float: none;
}

.comment .children p {
	margin-bottom: 0px;
	line-height: 24px;
}

.comment h4 {
	font-family: "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
	font-weight: 400;
	margin: 0;
	text-transform: none;
	line-height: 24px;
}

.comment h4 img {
	display: none;
	border-radius: 3px;
	margin-right: 15px;
	vertical-align: -4px
}

.comment h4 a {
	font-weight: 700;
	color: #918f90;
	vertical-align: middle;
	font-size: 15px
}

.comment .children .profile {
	float: left;
	left: 10px;
	position: relative;
}

.comment .children .profile img {
	width: 30px;
	height: 30px;
	padding: 3px;
	background: #eee;
}

.comment .children .main {
	width: 92%
}

.comment .children .main:after {
	content: "";
	width: 1px;
	height: 100%;
	background: #EEE;
	left: -40px;
	top: -60px;
	position: absolute
}

.comment .children a.name {
	font-family: "PingFang SC", "Microsoft YaHei", Arial, Helvetica, "WenQuanYi Micro Hei", "tohoma,sans-serif";
	font-weight: bold;
	color: #918f90;
}

.comment-respond {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
}

.comment-respond .logged-in-as {
	margin-bottom: 0
}

.comment-respond #cancel-comment-reply-link {
	position: relative;
	float: right;
	z-index: 2;
	top: 20px;
	right: 25px;
}

.comment-respond input,
.comment-respond textarea {
	font-family: PingFang SC, "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft Yahei", sans-serif;
	float: left;
	font-size: 14px;
	width: 29%;
	margin: 10px 0;
	padding: 24px;
	color: #535a63;
	border-radius: 4px;
	background-color: #eee
}

.author-info input {
	margin-right: 20px;
	position: relative;
	left: 8%;
}

.comment-respond input:last-of-type {
	border: 0
}

.comment-respond textarea {
	display: block;
	line-height: 1.75;
	float: left;
	width: 79%;
	height: 70px;
	color: #535a63;
	resize: vertical;
}

.comment-respond .form-submit {
	clear: both;
	display: block;
	overflow: hidden;
	margin-bottom: 40px;
	padding: 0
}

.comment-respond input[type=submit] {
	width: 84px;
	float: right;
	height: 70px;
	line-height: 20px;
	padding: 0;
	text-transform: uppercase;
	color: #888;
	background-color: #c5dcdf;
	border-radius: 4px
}

.comment-respond input[type=submit]:hover {
	background: rgba(0, 0, 0, 0.6);
	color: #fff
}

.comment-respond input:active,
.comment-respond input:focus,
.comment-respond textarea:active,
.comment-respond textarea:focus {
	outline: 0
}

.comment-respond input::-webkit-input-placeholder,
.comment-respond textarea::-webkit-input-placeholder {
	color: #535a63
}

.comment-respond input:-moz-placeholder,
.comment-respond textarea:-moz-placeholder {
	opacity: 1;
	color: #535a63
}

.comment-respond input::-moz-placeholder,
.comment-respond textarea::-moz-placeholder {
	opacity: 1;
	color: #535a63
}

.comment-respond input:-ms-input-placeholder,
.comment-respond textarea:-ms-input-placeholder {
	color: #535a63
}

.comment-respond .logged-in-as,
.notification {
	padding: 19px 32px 17px;
	border-radius: 3px;
	background: #FFF;
	color: #6F6F6F;
	font-family: microsoft yahei;
	clear: both
}

.comment-respond .logged-in-as i,
.notification i {
	margin-right: 10px
}

.comment-respond .logged-in-as a {
	color: #454545
}

.commentclosed {
	background: #fafafa;
	font-weight: bold;
	text-align: center;
	padding: 35px 0 0px;
}

.notification a {
	color: #B3B3B3
}

.notification span {
	font-size: 13px
}

.headertop {
	position: relative;
	overflow: hidden
}

.real-time-gravatar {
	display: inline-block;
	position: relative;
	z-index: 3;
	width: 8%;
	float: left
}

.real-time-gravatar img {
	margin: 8px 0 0 0;
	width: 50px;
	height: 50px;
	border: 1px solid #eee;
	border-radius: 50%
}