<footer id="footer" class="overlay animated from-top">
    <div class="socialize" data-aos="zoom-in">
        <li>
            <a title="weibo" class="socialicon" href="https://weibo.com/u/2646775602"><img src="/statics/images/svg/weibo.svg"></a>
        </li>
        <li>
            <a title="github" class="socialicon" href="https://github.com/itimor"><img src="/statics/images/svg/github.svg"></a>
        </li>
        <li>
            <a title="jianshu" class="socialicon" href="https://www.jianshu.com/u/40758c9db703"><img src="/statics/images/svg/jianshu.svg"></a>
        </li>
    </div>
    <div class="cr">
        Copyright&copy;<a href="https://github.com/itimor">Itimor</a>
        Power by <a href="https://www.djangoproject.com/">Django</a>
    </div>
    <script type='text/javascript' src='/statics/js/jquery.min.js'></script>
    <script type='text/javascript' src='/statics/js/plugins.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="//cdn.bootcss.com/highlightjs-line-numbers.js/1.1.0/highlightjs-line-numbers.min.js"></script>
    <script type='text/javascript' src='/statics/js/script.js'></script>
    <script type='text/javascript' src='/statics/js/particles.js'></script>
    <script type='text/javascript' src='/statics/js/aos.js'></script>
</footer>