<div class="post post-layout-list js-gallery" data-aos="fade-up">
    <div class="post-album">
        <div class="row content">
            <div class="bg" style="background: linear-gradient(to right, rgba(0,0,0,0.58), white);"></div>
            <div class="contentext flex-xs-middle">
                <div class="album-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.name }}</a>
                </div>
                <h5 class="review-item-creator"><b>发布日期：</b>{{ post.publish_time }}</h5>
                <div class="entry-content">
                    {{ post.excerpt }}
                </div>
            </div>
            <div class="album-thumb-width flex-xs-middle">
                <div class="row album-thumb no-gutter">
                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0150-250x250.jpg"/>
                    </div>
                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0149-250x250.jpg"/>
                    </div>
                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0146-250x250.jpg"/>
                    </div>
                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0147-250x250.jpg"/>
                    </div>
                    <div class="col-xs-4"><img class="thumb" src="/statics/images/tmp/IMG_0148-250x250.jpg"/>
                    </div>
                    <div class="col-xs-4">
                        <a href="">5 pics</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
