{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
| 新建文章
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content post_add">
            <header class="post_header">
                <h1 class="post_title">新建文章</h1>
            </header>
            <div class="publish center-block">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {% crispy form %}
                    <button type="submit" class="btn btn-primary">发 布</button>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}
