{% extends "layout/base.html" %}

{% block title %}
| 新建文章
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content post_add">
            <header class="post_header">
                <h1 class="post_title">新建文章</h1>
            </header>
            <div class="publish center-block">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">发 布</button>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    document.onpaste = function (event) {
        var items = (event.clipboardData || event.originalEvent.clipboardData).items;
        //console.log(JSON.stringify(items)); // will give you the mime types
        for (var index in items) {
            var item = items[index];
            if (item.kind === 'file') {
                var blob = item.getAsFile();
                console.log(blob)
                //ajax上传图片
                $.post("{:url('/photo/upload/')}", {base: blob}, function (ret) {
                    if (ret.code === 1) {
                        //新一行的图片显示
                        MarkDownEditor.insertValue("\n![" + ret.data.title + "](" + ret.data.path + ")");
                    }
                });
            }
        }
    }
</script>
{% endblock %}