{% extends "layout/base.html" %}
{% block title %}
| {{ post.name }}
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content">
            <header class="post_header">
                <h1 class="post_title">{{ post.name }}
                    {% if user.is_staff %}
                    <a href="/admin/blog/article/{{ post.id }}/change/"><img src="/statics/images/svg/edit.svg"
                                                                             width="20" height="20"></a>
                    <!--<a href="/post/edit/{{ post.id }}"><img src="/statics/images/svg/edit.svg" width="20" height="20"></a>-->
                    {% endif %}
                </h1>
            </header>
            <div class="post-body">
                {% autoescape off %}
                {{ post.content }}
                {% endautoescape %}
            </div>
            <hr/>
            <div class="meta split split--responsive cf">
                <div class="split__title">
                    <time>{{ post.publish_time|date:'Y-m-d' }} |</time>
                    {% for tag in post.tags.all %}
                    <a href="/tag/{{tag.name}}" class="tag">{{tag.name}}</a>
                    {% empty %}
                    <a class="tag">未设置标签</a>
                    {% endfor %}
                </div>
                <div class="slide">
                    <a class="btn-slide" title="switch down"><img src="/statics/images/svg/comment.svg">折叠评论区</a>
                </div>
            </div>
        </section>
    </div>

    <div id="panel">
        <div class="comment-area">
            <section class="comments">
                <div class="comments-main">
                    <div class="comments-list">
                        <a class="comments-list-title"><span>30</span> 条评论</a>
                        <ul class="commentwrap">
                            <li class="comment even thread-even depth-1" id="li-comment-">
                                <div class="comment_body contents">
                                    <div class="profile">
                                        <a href=""><img src="/statics/images/favicon.png"
                                                        class="gravatar" alt="小布丁"></a>
                                    </div>
                                    <div class="main shadow">
                                        <div class="commentinfo">
                                            <section class="commeta">
                                                <div class="shang">
                                                    <h4 class="author"><a href="" target="_blank"><img
                                                            src="/statics/images/favicon.png"
                                                            class="gravatarsmall" alt="小布丁">小布丁</a></h4>
                                                </div>
                                            </section>
                                        </div>
                                        <p>挺好的</p>
                                        <div class="xia info">
                                            <span><time datetime="2018-03-09">2018年3月9日</time></span>
                                            <span><a rel='nofollow' class='comment-reply-link'
                                                     onclick='return addComment.moveForm( "comment-969", "969", "respond", "1202" )'
                                                     aria-label='回复给小布丁'>回复</a></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- #comment-## -->
                        </ul>
                    </div>

                    <div id="respond" class="comment-respond">
                        <h6 id="replytitle" class="comment-reply-title"><a rel="nofollow" id="cancel-comment-reply-link"
                                                                           href="" style="display:none;">取消</a></h6>
                        <form action="#" method="post" id="commentform" class="clearfix">
                            <div class="clearfix"></div>
                            <div class="author-info">
                                <input type="text" name="author" id="author" placeholder="昵  称 : " value="" tabindex="1"
                                       title="Name (required)"/>
                                <input type="text" name="email" id="email" placeholder="邮  箱 : " value="" tabindex="2"
                                       title="E-mail(will not be published) required"/>
                                <input type="text" name="url" id="url" placeholder="网  址 : " value="" tabindex="3"
                                       title="Website"/>
                            </div>
                            <div class="clearfix"></div>
                            <input type='hidden' name='comment_post_ID' value='1202' id='comment_post_ID'/>
                            <input type='hidden' name='comment_parent' id='comment_parent' value='0'/>
                            <p style="display: none;"><input type="hidden" id="akismet_comment_nonce"
                                                             name="akismet_comment_nonce" value="632104fca1"/></p>
                            <p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="87"/></p>
                            <div class="comment-form-info">
                                <div class="real-time-gravatar"><img id="real-time-gravatar"
                                                                     src="/statics/images/favicon.png"
                                                                     alt="gravatar头像"/>
                                </div>
                                <p class="input-row">
                                    <i class="row-icon"></i>
                                    <textarea class="text_area" rows="3" cols="80" name="comment" id="comment"
                                              tabindex="4" placeholder="你不说两句吗？(°∀°)"></textarea>
                                    <input type="submit" name="submit" class="button" id="submit" tabindex="5"
                                           value="发送"/>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="navpost-part">
    <div id="NextPrevPosts">
        <div class="prev" data-aos="slide-right" data-aos-delay="1.5s">
            <div class="arrow"><img src="/statics/images/svg/left.svg"></div>
            <div class="preview">
                {% if prev_post %}
                {% if prev_post.cover %}
                <div class="pull-left featuredImg" style="background-image:url(/upload/{{ prev_post.cover }});"></div>
                {% else %}
                <div class="pull-left featuredImg" style="background-image:url('/statics/images/empty.png');"></div>
                {% endif %}
                <a class="pull-left preview-content bold" href="{{ prev_post.get_absolute_url }}"><span>{{ prev_post.name }}</span></a>
                {% else %}
                <div class="pull-left featuredImg" style="background-image:url('/statics/images/empty.png');"></div>
                <a class="pull-left preview-content bold" href="#"><span>拜托！泥垢了</span></a>
                {% endif %}
            </div>
        </div>
        <div class="next" data-aos="slide-left" data-aos-delay="1.5s">
            <div class="arrow"><img src="/statics/images/svg/right.svg"></div>
            <div class="preview">
                {% if next_post %}
                {% if next_post.cover %}
                <div class="pull-right featuredImg" style="background-image:url(/upload/{{ next_post.cover }});"></div>
                {% else %}
                <div class="pull-right featuredImg" style="background-image:url('/statics/images/empty.png');"></div>
                {% endif %}
                <a class="pull-right preview-content bold" href="{{ next_post.get_absolute_url }}"><span>{{ next_post.name }}</span></a>
                {% else %}
                <div class="pull-right featuredImg" style="background-image:url('/statics/images/empty.png');"></div>
                <a class="pull-right preview-content bold" href="#"><span>哼！我也是有底线的</span></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
