{% extends "layout/base.html" %}

{% block title %}
| 首页
{% endblock %}

{% block content %}

<div id="main" class="content">
    <div class="container">
        <article itemscope="itemscope">
            <div class="posts-list js-posts">
                {% if user.is_staff  %}
                <div class="post add-post">
                    <a href="{% url 'blog:add' %}">
                        <img src="/statics/images/svg/edit.svg" width="20" height="20">
                        来一篇新的文章
                    </a>
                </div>
                {% endif %}

                {% for post in posts %}
                    {% if post.type == 'l' %}
                        {% include './layout/l_post.html' %}
                    {% elif post.type == 'w' %}
                        {% include './layout/w_post.html' %}
                    {% else %}
                        {% include './layout/j_post.html' %}
                    {% endif %}
                {% empty %}
                    <div class="post no-post">暂时还没有发布的文章！</div>
                {% endfor %}
            </div>
            <!-- post-formats end Infinite Scroll star -->
            <!-- post-formats -->
            {% block pagination %}
                {% if is_paginated %}
                    {% include './layout/pagination.html' %}
                {% endif %}
            {% endblock %}
            <!-- -pagination  -->
        </article>
    </div>
</div>

{% endblock %}