{% extends "layout/base.html" %}

{% block title %}
| 友链
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content">
            <header class="post_header">
                <h1 class="post_title">链接</h1>
            </header>
            <div class="links">
                <h3 class="catalog-title">Life Blog</h3>
                <div class="catalog-description"></div>
                <div class="catalog-share">4 items in collection</div>
                <div class="userItems">
                    <div class="userItem">
                        <div class="userItem--inner">
                            <div class="userItem-content">
                                <img alt='' src='/statics/images/tmp/004.jpeg'
                                                               class='avatar avatar-64 photo' height='64' width='64'/>
                                <div class="userItem-name">
                                    <a class="link link--primary" href="http://70data.net/" target="_blank">千夜</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="userItem">
                        <div class="userItem--inner">
                            <div class="userItem-content">
                                <img alt='' src='/statics/images/tmp/002.jpeg'
                                                               class='avatar avatar-64 photo' height='64' width='64'/>
                                <div class="userItem-name">
                                    <a class="link link--primary" href="http://cizixs.com/" target="_blank">cizixs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="userItem">
                        <div class="userItem--inner">
                            <div class="userItem-content">
                                <img alt='' src='/statics/images/tmp/003.jpeg'
                                                               class='avatar avatar-64 photo' height='64' width='64'/>
                                <div class="userItem-name">
                                    <a class="link link--primary" href="https://blog.csdn.net/omnispace" target="_blank">Omni-Space</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="userItem">
                        <div class="userItem--inner">
                            <div class="userItem-content">
                                <img alt='' src='/statics/images/tmp/001.jpeg'
                                                               class='avatar avatar-64 photo' height='64' width='64'/>
                                <div class="userItem-name">
                                    <a class="link link--primary" href="http://xiaorui.cc/" target="_blank">峰云就她了</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}