{% extends "layout/base.html" %}

{% block title %}
| 相册
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content">
            <div class="photoItems">
                		<div class="photo-content">
			<div id="xxoo" class="chroma-gallery">
				<img src="/statics/images/thumbs/1.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
				<img src="/statics/images/thumbs/2.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
				<img src="/statics/images/thumbs/3.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
				<img src="/statics/images/thumbs/4.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
				<img src="/statics/images/thumbs/5.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
				<img src="/statics/images/thumbs/6.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
				<img src="/statics/images/thumbs/7.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
				<img src="/statics/images/thumbs/8.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
				<img src="/statics/images/thumbs/9.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
				<img src="/statics/images/thumbs/10.jpg" alt="Pic 1" data-largesrc="images/1.jpg">
			</div>
		</div>
            </div>
        </section>
    </div>
</div>
{% endblock %}