{% extends "layout/base.html" %}

{% block title %}
| 相册
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content">
            <header class="post_header">
                <h1 class="post_title">相册</h1>
            </header>
            <div class="photoItems">
                <ul id="da-thumbs" class="da-thumbs">
                    {% for photogroup in photogroups %}
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/upload/{{ photogroup.cover }}" alt=""/>
                            <div>
                                <h5>{{ photogroup.name }}</h5>
                                <span>{{ photogroup.desc }}</span>
                            </div>
                        </a>
                    </li>
                    {% empty %}
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/empty.png" alt=""/>
                            <div>
                                <h5>你还没有建立相册</h5>
                                <span>没有了，啥图片都没有</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="b-link-stripe b-animate-go thickbox">
                            <img src="/statics/images/empty.png" alt=""/>
                            <div>
                                <h5>你还没有建立相册</h5>
                                <span>没有了，啥图片都没有</span>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</div>
{% endblock %}