{% extends "layout/base.html" %}

{% block title %}
| 标签
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content" itemscope itemtype="http://schema.org/Article">
            <header class="post_header">
                <h1 class="post_title">标签 <span>{{tag_posts.tag}}</span>(<a href="#">All</a>)</h1>
            </header>
            <!--<div class="tags">-->
                <!--{% for tag in tag_posts.tags %}-->
                <!--<a href="tag/{{ tag.name }}" class="tag">{{ tag.name }}</a>-->
                <!--{% endfor %}-->
            <!--</div>-->
            <div class="post-Archive">
                <div id="tags">
                    <div class='archive-title'>
                        {% for post in tag_posts.posts %}
                        <div class='archives'>
                            <div class="brick">
                                <a href="{{ post.get_absolute_url }}">{{ post.name }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}