.da-thumbs {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.da-thumbs li {
	float: left;
	margin: 0.4%;
	background: #EFEFEF;
	padding: 8px;
	position: relative;
	box-shadow: 0 1px 3px rgba(231, 231, 231, 0.43);
	width: 32.4%;
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
  position: absolute;
  background: rgba(25, 6, 8, 0.9);
  width: 100%;
  height: 100%;
}
.da-thumbs li a div span {
  display: block;
  padding: 10px 0;
  margin: 11px 20px 20px 20px;
  font-weight: normal;
  text-transform: capitalize;
  color: rgba(255,255,255,0.9);
  text-align: center;
  font-size: 14px;
}
.da-thumbs li a div  h5 {
  color: #FFF;
  font-size: 1.5em;
  margin: 3.5em 0 0 0;
  text-align: center;
}