<div class="post post-layout-list" data-aos="fade-up">
    <div class="postnormal review">
        {% if post.cover %}
            <div class="status_user" style="background-image: url(/upload/{{ post.cover }});">
        {% else %}
            <div class="status_user" style="background-image: url(/statics/images/j_post.jpg);">
        {% endif %}
            <div class="status_section">
                <a href="{{ post.get_absolute_url }}" class="status_btn">{{ post.name }}</a>
                <div class="entry-content">
                {% autoescape off %}
                    {{ post.excerpt }}
                {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</div>